.new-cost {
  background-color: black;
  padding: 2rem;
  margin: 2rem auto;
  width: 80rem;
  max-width: 95%;
  position: relative;
  font-weight: 100;
}

span {
  display: flex;
  margin: 3rem 0;
  align-items: start;
  color: aliceblue;
  font-size: 2rem;
}

.new-cost button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  background-color: rgb(66, 76, 142);
  color: #fefae1;
  border-radius: 10px;
  margin: 20px 0;
  border: 1px solid rgb(40, 50, 112);
  font-weight: 400;
}

.new-cost button:hover,
.new-cost button:active {
  background-color: rgb(40, 50, 112);
}
