.new-cost {
  background-color: black;
  padding: 2rem;
  margin: 2rem auto;
  width: 80rem;
  max-width: 95%;
  position: relative;
  font-weight: 100;
}

span {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}

.new-cost button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  background-color: rgb(66, 76, 142);
  color: #fefae1;
  border-radius: 10px;
  margin: 20px 20px 20px 0px;
  border: 1px solid rgb(40, 50, 112);
  font-weight: 400;
  transition: background-color, text-shadow, transform, .4s ease-in-out;
}

.new-cost button:hover {
  transform: scale(101%);
  background-color: rgb(31, 38, 84);
  text-shadow: 0 0 10px rgb(253, 197, 255),
  0 0 20px rgb(255, 254, 255), 0 0 30px rgb(254, 255, 212);
}

.new-cost button:active {
  background-color: rgb(87, 48, 245);
  transform: scale(97%);
}
