.cost-item {
  padding: 1rem;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100vw;
}

.cost-item__name {
  font-size: 2.5rem;
  flex: 1;
  margin: 0 2rem;
  color: rgb(147, 158, 240);
  text-shadow: 0 0 10px rgba(147, 158, 240, 0.9),
    0 0 20px rgba(147, 158, 240, 0.7), 0 0 30px rgba(147, 158, 240, 0.9);
}

.cost-item__summ {
  font-size: 2rem;
  font-weight: 300;
  color: #fefae1;
  padding: 1rem;
  border-radius: 10px;
  margin: 0 2rem;
}
