.cost-item__data {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 100%;
  width: 100%;
  padding: 1rem;
  max-width: 5rem;
  color: white;
  font-weight: 500;
  font-size: 1rem;
}

.cost-item__day {
  font-weight: 500;
  font-size: 2rem;
}
